{% extends 'portfolio_app/index.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Add a new project</title>
  {% endblock %}
{% block content %}
<section class="p-3">
    <div class="container p-2 offset">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form |crispy}} <hr>
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Create New Project" name="" id="">
        </form>
      </div>
</section>
{% endblock %}